<div>
    <div class="flex flex-row justify-center py-8 items-center">
        <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
        <h1 class="text-3xl font-semibold">PRINCIPALES RIESGOS PSICOSOCIALES INDIVIDUALES</h1>
    </div>

    <div class="flex flex-row items-center px-14">
        <img class="w-12" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
        <h2 class="text-2xl">Accidentes y enfermedades (Durante el tiempo de trabajo)</h2>
    </div>

    <form class="bg-gray-200 px-28 my-5 mx-16 py-5">
        <div *ngFor="let input of inputs">
            <div class="grid grid-cols-3 py-4 items-center">
                <div class="flex flex-col col-span-2">
                    <div class="flex items-center">
                        <img class="w-12" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
                        <label for="{{input.for}}" class="text-center w-17 text-2xl">{{input.nombre}}</label>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <select class="form-select w-36 text-black pl-2 h-10 border-solid border-black items-" id="{{input.id}}">
                        <option *ngFor="let option of input.options" value="{{ option.valor }}">
                            {{ option.nombre }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>