<div class="flex flex-row justify-center py-8 items-center">
    <img class="w-14 rounded-lg" src="../../../../assets/logos/001.jpg" alt="">
    <h1 class="text-3xl pl-4 font-semibold">DATOS OCUPACIONALES</h1>
</div>

<div class="px-10 flex flex-col gap-y-5">
  <div class="flex items-center justify-center h-96" *ngIf="!(loaded$ | async); else formulario">
    <img class="w-8 h-8 absolute rounded-lg" src="../../../../assets/logos/simbolo solo.png">
    <div class="border-blue-700 border-4 rounded-xl shadow-sm w-14 h-14 animate-spin"></div>
  </div>
    <ng-template #formulario>
      <form [formGroup]="form" class="grid grid-cols-4 gap-x-5">
        <div>
            <div class="flex flex-row py-2 w-full gap-x-2 items-center">
                <img class="w-14 rounded-lg" src="../../../../assets/logos/016.jpg" alt="">
                <h2 class="text-3xl">Condiciones actuales del cargo</h2>
            </div>
            <div class="bg-gray-200 rounded-lg py-5">
                <div *ngFor="let input of inputsCondicionesActualesCargo$ | async">
                    <div class="flex flex-row p-5 w-full gap-x-2 items-center">
                        <img class="w-12 rounded-lg" src="../../../../assets/logos/017.jpg" alt="">
                        <h2 class="text-3xl">{{input.nombre}}</h2>
                    </div>

                    <div class="px-5 py-2">
                        <select *ngIf="(input.type=='select')" formControlName="{{input.for}}" class="form-select w-full flex self-center text-black pl-2 h-10" id="{{input.id}}">
                            <option *ngFor="let option of input.options" value="{{ option.valor }}">
                                {{ option.nombre }}
                            </option>
                        </select>
                        <input *ngIf="(input.type=='text')" formControlName="{{input.for}}" type="{{input.type}}" placeholder="Cual" class="form-input w-full text-black pl-2 rounded-full h-10 border-solid border-black border-[1.5px]" id="{{input.id}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-3">
            <div class="flex flex-row py-2 w-full gap-x-2 items-center">
                <img class="w-14 rounded-lg" src="../../../../assets/logos/016.jpg" alt="">
                <h2 class="text-3xl">Accidentes y enfermedades laborales</h2>
            </div>
            <div class="bg-gray-200 rounded-lg">
                <div *ngFor="let ya of inputNumber$ | async">
                    <div class="grid grid-cols-2 py-5" *ngIf="ya.id == '1'">
                        <div *ngFor="let input of inputsAccidentesEnfermedadesLaborales1$ | async">
                            <div>
                                <div class="flex flex-row p-5 w-full gap-x-2 items-center">
                                    <img class="w-12 rounded-lg" src="../../../../assets/logos/017.jpg" alt="">
                                    <h2 class="text-3xl">{{input.nombre}}</h2>
                                </div>
                                <div class="py-2 px-5">
                                    <input type="{{input.type}}" formControlName="{{input.for}}" placeholder="Cual" class="form-input w-full text-black pl-2 rounded-full h-10 border-solid border-black border-[1.5px]" id="{{input.id}}" />
                                </div>
                            </div>
                        </div>
                        <div class="grid col-span-2 grid-cols-3 gap-x-5 items-center" >
                            <div class="flex justify-center pt-2" *ngFor="let select of inputsEmpresa1$ | async">
                                <input *ngIf="(select.type=='date')" formControlName="{{select.for}}" type="{{select.type}}" class="form-input w-full text-black pl-2 rounded-full h-10 border-solid border-black border-[1.5px]" id="{{select.id}}" />
                                <select *ngIf="(select.type=='select')" formControlName="{{select.for}}" class="form-select w-5/6 flex text-black pl-2 h-10" id="{{select.id}}">
                                    <option *ngFor="let option of select.options" value="{{ option.valor }}">
                                        {{ option.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 py-5" *ngIf="ya.id == '2'">
                        <div *ngFor="let input of inputsAccidentesEnfermedadesLaborales2$ | async">
                            <div>
                                <div class="flex flex-row p-5 w-full gap-x-2 items-center">
                                    <img class="w-12 rounded-lg" src="../../../../assets/logos/017.jpg" alt="">
                                    <h2 class="text-3xl">{{input.nombre}}</h2>
                                </div>
                                <div class="py-2 px-5">
                                    <input type="{{input.type}}" formControlName="{{input.for}}" placeholder="Cual" class="form-input w-full text-black pl-2 rounded-full h-10 border-solid border-black border-[1.5px]" id="{{input.id}}" />
                                </div>
                            </div>
                        </div>
                        <div class="grid col-span-2 grid-cols-3 gap-x-5 items-center" >
                            <div class="flex justify-center pt-2" *ngFor="let select of inputsEmpresa2$ | async">
                                <input *ngIf="(select.type=='date')" formControlName="{{select.for}}" type="{{select.type}}" class="form-input w-full text-black pl-2 rounded-full h-10 border-solid border-black border-[1.5px]" id="{{select.id}}" />
                                <select *ngIf="(select.type=='select')" formControlName="{{select.for}}" class="form-select w-5/6 flex text-black pl-2 h-10" id="{{select.id}}">
                                    <option *ngFor="let option of select.options" value="{{ option.valor }}">
                                        {{ option.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </ng-template>
    <div class="flex pt-5 justify-center">
      <app-shared-paginacion (dataState)="saveData()" [pages]="9" [state]="state" (pageChange)="onPageChange($event)" [currentPage]="currentPage"></app-shared-paginacion>
    </div>
</div>
