<div class="flex flex-row gap-x-3 items-center">
    <img *ngIf="currentPage > 1; else elseBlock1" class="cursor-pointer w-11 h-11 rounded-lg" src="../../../../assets/logos/011.jpg" alt="volver" (click)="previousPage()">
    <ng-template #elseBlock1>
      <img *ngIf="currentPage != 1; else elseBlock2" class="w-11 h-11 rounded-lg" src="../../../../assets/logos/033.jpg" alt="avanzar-sin-avanzar">
      <ng-template #elseBlock2>
        <img class="w-11 h-11 rounded-lg invisible" src="../../../../assets/logos/033.jpg" alt="avanzar-sin-avanzar">
      </ng-template>
    </ng-template>
    <p class="border-solid border-black border-b-2 w-24 text-center text-2xl">{{ currentPage }} / {{ pages }}</p>
    <img *ngIf="state && currentPage != pages; else elseBlock3" class="cursor-pointer w-11 h-11 rounded-lg" src="../../../../assets/logos/012.JPG" alt="avanzar" (click)="nextPage()">
    <ng-template #elseBlock3>
      <img *ngIf="currentPage != pages; else elseBlock4" class="w-11 h-11 rounded-lg" src="../../../../assets/logos/032.jpg" alt="avanzar-sin-avanzar">
      <ng-template #elseBlock4>
        <img class="w-11 h-11 rounded-lg invisible" src="../../../../assets/logos/033.jpg" alt="avanzar-sin-avanzar">
      </ng-template>
    </ng-template>
</div>
