<div class="w-full px-10">
    <div class="flex flex-row pb-5 items-center gap-4">
        <img class="w-14 rounded-lg" src="../../../../assets/logos/004.jpg" alt="Logo Inicio Sesion">
        <h1 class="text-3xl">Datos Personales</h1>
    </div>
    <section class="bg-gray-200 rounded-lg w-full">
        <div class="p-7">
            <div class=" flex items-center justify-center" *ngIf="!(loaded$ | async); else formulario">
                <img class="w-8 h-8 absolute" src="../../../../assets/logos/simbolo solo.png">
                <div class="border-blue-700 border-4 rounded-xl shadow-sm w-14 h-14  animate-spin"></div>
            </div>
            <ng-template #formulario>
                <form class="flex flex-col items-center gap-y-4 w-full" action="">
                    <div *ngFor="let input of inputs$ | async" class="grid grid-cols-2 gap-x-5 w-full">
                        <label for="{{ input.for }}" class="text-xl">{{ input.nombre }}:</label>
                        <div *ngIf="(input.type!='select')">
                            
                            <input type="{{ input.type }}" class="form-input w-full text-black pl-2 h-10 border-solid border-black border-[1.5px]" id="{{ input.id }}" />
                        </div>
                        <div *ngIf="(input.type=='select')">
                            <select class="form-select w-full text-black pl-2 h-10 border-solid border-black border-[1.5px]" id="{{ input.id }}">
                                <option *ngFor="let option of input.options" value="{{ option.valor }}">
                                    {{ option.nombre }}
                                </option>
                            </select>
                        </div>
                    </div> 
                </form>
            </ng-template>
        </div>
    </section>
</div>