<div *ngIf="!(loaded$ | async); else formulario" class=" flex items-center justify-center h-96">
  <img class="w-8 h-8 absolute" src="../../../../assets/logos/simbolo solo.png">
  <div class="border-blue-700 border-4 rounded-xl shadow-sm w-14 h-14  animate-spin"></div>
</div>

<ng-template #formulario>
  <form class="grid grid-cols-3 items-center" [formGroup]="form">
    <div class="flex items-center p-10 flex-col gap-y-5">
      <div class="flex flex-row items-start gap-4">
        <img class="w-14 rounded-lg" src="../../../../assets/logos/018.JPG" alt="Logo Inicio Sesion">
        <h1 class="text-4xl">Identificación</h1>
      </div>
      <section class="flex bg-gray-200 w-full h-4/6 p-10 rounded-lg">
        <div class="w-full h-full flex flex-col gap-y-5">
          <div class="flex flex-col">
            <div class="flex flex-col gap-y-10 w-full justify-center">
              <div *ngFor="let input of inputDoc$ | async" class="gap-y-5 w-full">
                <div class="grid grid-cols-2 w-full gap-2 items-center">
                  <label *ngIf="input.for == 'tipo_documento'" for="tipo_documento" class="text-xl">Tipo de documento</label>
                  <select
                    [ngClass]="form.controls[input.for!].invalid && form.controls[input.for!].touched ? 'invalid' : ''"
                    *ngIf="input.for == 'tipo_documento'"
                    class="rounded-lg flex w-1/7 bg-white self-center text-black pl-2 h-10"
                    id="tipo_documento"
                    formControlName="tipo_documento">
                    <option *ngFor="let option of input.options" value="{{ option.valor }}">
                      {{ option.nombre }}
                    </option>
                  </select>
                </div>
                <div class="grid grid-cols-2 w-full gap-2 items-center">
                  <label *ngIf="input.for == 'documento'" for="documento" class="text-xl">Número de documento:</label>
                  <input *ngIf="input.for == 'documento'" formControlName="documento" [ngClass]="form.controls[input.for!].invalid && form.controls[input.for!].touched ? 'invalid' : ''" type="text" class="h-10 pl-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <app-shared-datos-personales #datosPersonales></app-shared-datos-personales>
    <app-shared-datos-ocupacionales #datosOcupacionales></app-shared-datos-ocupacionales>
  </form>
  <div class="w-full flex justify-center">
    <button (click)="saveData()" class="bg-blue-700 rounded-lg h-full px-10 py-1 my-4 text-white text-xl">Guardar</button>
  </div>
</ng-template>
