<div class="w-full px-10">
    <div class="h-full w-full">
        <div class="h-full">
            <div class="flex flex-row pt-14 items-center gap-x-3">
                <img class="w-14 rounded-lg" src="../../../../assets/logos/018.JPG" alt="Logo Inicio Sesion">
                <h1 class="text-3xl">Observaciones</h1>
            </div>
            <div class="pt-5">
                <form class="bg-gray-200 h-96 w-full p-6 rounded-lg">
                    <textarea class="h-full w-full text-black pl-2 resize-none"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>
