<nav class="flex bg-banner bg-cover bg-repeat-round bg-origin-border pt-5 max-h-[18rem] w-full">
    <div class="grid grid-rows-2">
        <div class="flex items-center">
            <img class="w-36 ml-12" src="../../../../assets/logos/simbolo solo.png" alt="Logo Solution IPS">
            <p class="text-6xl pl-20 w-24">Módulo Clinico Psicologia</p>
        </div>
        <div class="flex flex-row items-end pb-5">
            <div class="flex flex-row items-center gap-4 ml-20">
                <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
                <h1 class="text-4xl">Datos Paciente</h1>
            </div>
            <div class="flex flex-row items-center gap-4 ml-20">
                <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
                <h1 class="text-4xl">Historia Clinica</h1>
            </div>
        </div>
    </div>
</nav>