
<div class="flex flex-row justify-center gap-x-2 py-8 items-center">
    <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
    <h1 class="text-3xl font-semibold">CIERRE HISTORIA CLINICA</h1>
</div>
<div class="mx-5">
    <div class="grid grid-cols-3 items-center gap-x-10">
        <div class="bg-gray-200 rounded-lg">
            <div class="flex flex-row gap-x-2 items-center px-5 pt-5">
                <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
                <label for="Psicologia" class="text-left w-17 text-3xl">Historia Familiar</label>
            </div>
            <div class="p-5">
                <textarea class="h-64 w-full pl-2 text-black resize-none"></textarea>
            </div>
        </div>
        
        <div class="bg-gray-200 rounded-lg">
            <div class="m-5">
                <div class="flex flex-row gap-x-2 items-center ">
                    <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
                    <label for="Psicologia" class="text-left w-17 text-3xl">Recomendaciones / Restricciones</label>
                </div>
                <div class="py-5">
                    <textarea class="h-16 w-full pl-2 text-black resize-none"></textarea>
                </div>
               
                <div class="flex flex-row gap-x-2 items-center">
                    <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
                    <label for="Psicologia" class="text-left w-17 text-3xl">Otras consideraciones</label>
                </div>
                <div class="py-5 flex gap-2 items-center">
                    <input class="h-5 w-4" type="checkbox" id="cbox2" value="second_checkbox"> <label class="text-xl " for="cbox2">Aplazado</label>
                </div>
                
                <div class="flex flex-row gap-x-10 items-center">
                    <label for="Psicologia" class="text-left w-17 text-2xl">Motivo</label>
                    <select class="form-select block w-full mt-1 text-black  pl-2 h-10 border-solid border-black items-" id="Psicologia">
                        <option>Reporte por Psiquiatria</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="flex flex-row gap-x-10 items-center">
                    <label for="Psicologia" class="text-left w-17 text-2xl">Remitido </label>
                    <select class="form-select block w-full mt-1 text-black pl-2 h-10 border-solid border-black items-" id="Psicologia">
                        <option>Psiquiatria</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="bg-gray-200 rounded-lg">
            <div class="m-5">
                <form>
                    <div class="flex flex-row gap-x-2  items-center">
                        <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
                        <label for="Psicologia" class="text-left w-17 text-3xl">Observaciones</label>
                    </div>
                    <div class="flex flex-row py-5">
                        <textarea class="h-32 w-full text-black resize-none"></textarea>
                    </div>
                    <div class="flex flex-row gap-x-2 pb-5 items-center">
                        <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
                        <label for="Psicologia" class="text-left w-17 text-3xl">Concepto Final</label>
                    </div>
                    <select class="form-select w-full mt-1 text-black pl-2 h-10 border-solid border-black items-" id="Psicologia">
                        <option>Aprobado</option>
                        <option>No</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>