<div class="flex flex-row justify-center py-8 items-center">
    <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
    <h1 class="text-3xl pl-4 font-semibold">REVISION POR SISTEMAS</h1>
</div>

<div class="px-10">
    <div class="flex flex-row py-2 gap-x-2 items-center">
        <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
        <h2 class="text-3xl">Sistema</h2>
    </div>
    <div class="grid grid-cols-3 p-5 bg-gray-200 rounded-lg">
        <div *ngFor="let input of inputs" class="px-5">
            <div class="flex items-center justify-between">
                <div class="flex flex-row py-2 items-center gap-4">
                    <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="Logo Inicio Sesion">
                    <label class="text-2xl">{{input.nombre}}</label>
                </div>
                <select class="form-select w-1/4 flex self-center text-black pl-2 h-10" id="{{input.id}}">
                    <option *ngFor="let option of input.options" value="{{ option.valor }}">
                        {{ option.nombre }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="flex flex-row gap-x-5 items-center pt-5">
        <img class="w-14" src="https://i.imgur.com/GjZKjAZ.jpeg" alt="">
        <textarea class="h-10 w-full text-black pl-2 border-solid border-black border-[1.5px] rounded-full resize-none" placeholder="Observaciones"></textarea>
    </div>
</div>