<app-facturacion-navbar></app-facturacion-navbar>

<div class="flex flex-row justify-center py-10 items-center">
    <h1 class="text-5xl pl-4 font-semibold">FACTURA DE VENTA</h1>
</div>

<div class="grid grid-cols-[1fr_auto] px-10">
    <div>
        <div class="grid grid-rows-4 grid-cols-4 px-10 py-5">
            <div class="border">Señor(a)</div>
            <div class="border col-span-3"></div>
            <div class="border">DNI</div>
            <div class="border"></div>
            <div class="border">Telefono</div>
            <div class="border "></div>
            <div class="border">Direccion</div>
            <div class="border"></div>
            <div class="border">Ciudad</div>
            <div class="border "></div>
        </div>
        
        <div class="grid grid-rows-4 grid-cols-5 px-10">
            <div class="border text-center">Codigo</div>
            <div class="border text-center">Descripción</div>
            <div class="border text-center">Cantidad</div>
            <div class="border text-center">Precio</div>
            <div class="border text-center">Total</div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            <div class="border text-center"></div>
            
        </div>
        
        <div class="flex flex-row justify-end py-4 px-8 items-center">
            <h1 class="text-2xl pl-4 font-semibold">Total a Pagar</h1>
            <div class="border text-center mx-2 w-28 h-7"></div>
        </div>
    </div>

    <div class="px-5"> 
        <div class="flex flex-row items-center gap-x-2">
            <img class="w-14 rounded-lg" src="../../../../assets/logos/001.jpg" alt="">
            <h2 class="text-2xl px-5">No. 00000000001</h2>
        </div>
        <div class="flex flex-row items-center py-5 gap-x-2">
            <img class="w-14 rounded-lg" src="../../../../assets/logos/001.jpg" alt="">
            <h2 class="text-2xl px-5 py-5">Fecha: 07/05/2022</h2>
        </div>
        <div class="flex flex-row gap-x-2 items-center">
            <label for="Psicologia" class="text-left w-17 text-3xl">Observaciones</label>
        </div>
        <textarea class="h-28 w-full pl-2 text-black resize-none border rounded-lg"></textarea>
    </div>

</div>