<nav class="flex bg-banner bg-cover bg-repeat-round bg-origin-border h-full max-h-[18rem] w-full">
    <div class="p-12 grid grid-cols-2">
        <div class="grid grid-rows-2 h-full gap-y-10 w-full">
            <div class="h-full row-span-2">
                <div class="grid grid-flow-row pl-9 items-center">
                    <p class="text-2xl h-10 grid items-left">Nit: 987.365.214-3</p>
                </div>
                <div class="grid grid-flow-row pl-9 items-center">
                    <p class="text-2xl h-10 flex items-center">Calle 23 # 32-65 Armenia</p>
                </div>
                <div class="grid grid-flow-row pl-9 items-center">
                    <p class="text-2xl h-10 flex items-center">Tel. (606)-3654128</p>
                </div>
                <div class="grid grid-flow-row pl-9 items-center">
                    <p class="text-2xl h-10 flex items-center">info@solutionips.com</p>
                </div>
            </div>
        </div>  
        <div class="grid grid-flow-row pl-9 items-center">
            <img class="mx-6 w-full h-44 rounded-lg" src="../../../../assets/logos/logo plano fondo blanco.png" alt="Logo Inicio Sesion">
        </div> 
    </div>
</nav>
